  #section-main-image h1 {
    font-size: 39px;
    padding: 1px;
  }
  
  #section-main-image h2 {
    font-size: 17px;
  }

  .product-grid {
    display: grid;
    grid-template-columns: 100px 100px;
  }

  nav ul {
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 3px;
  }

  #section-coffee {
    text-align: center;
  }
  
  #section-coffee p {
    text-align: center;
  }

  .product-grid {
    grid-template-columns: 220px;
    justify-content: center;
  }

  #footer-contact .contact-text{
    text-align: center;
  }

  .contact-form form {
    margin-right: 10px;
    text-align: left;
  }
  
  .contact-form form .form-control {
    padding-right: 7px;
  }

  .contact-form form .form-control label {
    margin-right: 0px;
  }

  .contact-form input {
    width: 100%;
  }

  .container {
    width: 95%;
  }